*{
	margin:0;
	padding:0;
	overflow-x: hidden;
}

.inner{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin:2vw 0;
   padding: 0 2%;
}
.gallery{
	transform: translateX(100%);
	position: absolute;
	visibility: hidden;
	background: rgba(0,0,0,0.8);
	transition: 0.5s;
	width: 100%;	
  height: 100%;
}
.fullimage{
	position: fixed;
  background: rgba(0,0,0,0.9);
	width: 100%;
	height: 100%;
	display:none;
}
.fullimage div{
   display: flex;
   opacity: 1;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
}

.fullimage span{
   position: absolute;

}
#prev{
   color: white;
   top: 49%;
}
#next{
   top: 49%;
   right: 0;
   color:white;
}
#close{
   color:white;
   right: 10px;
   top:10px;
}

.fullimage div img{
   max-width: 80%;
   height: auto;
   max-height: 98vh;
}

/* images for the gallery */
.container
{	
	overflow-y: hidden;
	width: 23vw;
	height: 17vw;
   min-width: 300px;
   min-height: 300px;
	position: relative;
}
.container img{
   width: 100%;
   height: auto;
   min-height:100%;
}
.icon{
	height: 3vw;
	visibility: hidden;
	width: auto;
	position: absolute;
	left: 9.8vw;
	transition: 0.8s;
	cursor: pointer;
	color: #fff;
}
.back{
	position: absolute;
	width: 23vw;
	height: 17vw;
	transition: all 0.8s;
	cursor: pointer;
}
.mask2{
	position: absolute;
	opacity: 0.4;
	width: 23vw;
	height: 17vw;
	transition: transform 0.8s;
	z-index: 2;
}
.container:hover .mask2{
	background: white;
	transform: scale(0,0);
}
.container:hover .back{
	filter: brightness(0.6);
	transform: scale(1.05);
}
.container:hover .icon{
	visibility: visible;
	z-index: 5;
	transform: translateY(6.5vw);
}



.imagepage{
	padding-top: 2vw;
}

.navpagehead{
   font-family: 'Roboto', sans-serif;
   letter-spacing: 3px;
   font-size: 40px;
   font-weight: 700;
   color: #ccc;
   text-align: center;
   padding: 2% 0;
   margin-top: 30px;
}
.galpagehead{
   text-transform: uppercase;
   text-align: center;
   padding: 2% 0 0 0;
   font-family: 'Roboto', sans-serif;
   letter-spacing: 3.5px;
   font-size: 40px;
   font-weight: 700;
   color: white;
}
.navpagehead::first-letter{
   font-size: 50px;
}
#closebtn{
   cursor: pointer;
   padding: 10px 10px 0 0;
   float:right;
   color: white;
}

.galhead{
   height: 40vh;
   background: url("background.jpg");
   background-attachment: fixed;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
}


/* New Nav Page */
.navpage{
   background-attachment: fixed;
   background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("../img/galleryback.jpg");
   background-position:center ;
   min-height: 100vh;
   position: absolute;
   width: 100%;
}
.innernavpart{
   display: flex;
   justify-content: space-around;
   margin: 3% 0;
   width: 100%;
   flex-wrap: wrap;
}
.navbox{
   flex :0 1 15%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 200px;
   color: #aaa;
   background: rgba(0,0,0,0.8);
   font-family: 'Roboto', sans-serif;
   cursor: pointer;
   min-width: 300px;
   transition: 0.2s;
}
.navbox:hover{
   color: #fff;
}
.navbox h2{
   font-size: 40px;
   letter-spacing: 1px;
   padding: 6px;
}
.navbox p{
   font-size: 22px;
}

/*Navigation Bar*/
.nav{
  padding: 0.5%;
  display: block;
  background:rgba(0,0,0,0.4);
  font-family: 'Source Sans Pro', sans-serif;
  overflow: visible;  
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: 0.5s;
}
.nav ul{
  display: flex;
  justify-content: space-around;
}
.nav li{
  display: inline;
  color: #fff;
  font-size: 20px;
  padding: 0.25vw;
  cursor: pointer;
}
.nav li a {
    color: #fff;
    display: block;
    font-size: 20px;
}

a{
  text-decoration: none;
}
