*{
  margin:0;
  padding:0;
  overflow-x: hidden;
}

/*navigaiton page for robocon*/
.navpage{
   background-attachment: fixed;
   background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../img/roboback.jpg");
   background-position:center;
   min-height: 100vh;
   position: absolute;
   width: 100%;
}
.innernavpart{
   display: flex;
   justify-content: space-around;
   margin: 3% 0;
   width: 100%;
   flex-wrap: wrap;
}
.navbox{
   flex :0 1 15%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 200px;
   color: #aaa;
   background: rgba(0,0,0,0.8);
   font-family: 'Roboto', sans-serif;
   cursor: pointer;
   min-width: 300px;
   transition: 0.2s;
}
.navbox:hover{
   color: #fff;
}
.navbox h2{
   font-size: 32px;
   letter-spacing: 1px;
   padding: 6px;
}
.navbox p{
   font-size: 22px;
}
.navpagehead{
   font-family: 'Roboto', sans-serif;
   letter-spacing: 3px;
   font-size: 40px;
   font-weight: 700;
   color: #bbb;
   text-align: center;
   padding: 4% 0 2% 0;
}
.nav{
  padding: 0.5%;
  display: block;
  background:rgba(0,0,0,0.6);
  font-family: 'Source Sans Pro', sans-serif;
  overflow: visible;  
  position: fixed;
  width: 100%;
  z-index: 1;
}
.nav ul{
  display: flex;
  justify-content: space-around;
}
.nav li{
  display: inline;
  color: #fff;
  font-size: 20px;
  padding: 0.25vw;
  cursor: pointer;
}
.nav li a {
  color: #fff;
  display: block;
  font-size: 20px;
}

a{
  text-decoration: none;
}


/*Robocon pages yearwise*/
.Robocon{
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(10,10,10,0.94);
  display: none;
  color: white;
}
#closebtn{
   cursor: pointer;
   position: fixed;
   right:0;
   color: white;
   padding: 20px;
   z-index: 1000;
}
/*project details*/
.pro-det{
  display: flex;
  flex-wrap: wrap;
  padding:0 9% 0 6% ;
}
.pro-det iframe{
  flex:1 1 30%;
  min-width: 300px;
}
.pro-det div{
  flex:3 3 50%;
  padding: 0 2%;
  min-width: 400px;
}
.prodet div h2{
  padding-left: 0;
}
.pro-det div p{
  font-size: 18px;
  font-family: font-family: 'Catamaran', sans-serif;
  line-height: 30px;
  letter-spacing: 1.5px;
  padding-left:10%; 
}
/*Robocon Team*/
.team{
  display: flex;
  padding-left: 15%;
  padding-bottom: 2%;
  flex-wrap: wrap;
}
.teampart{
  flex:0 1 25%;
  min-width: 250px;
}
.Robocon h1{
  font-family: 'Roboto', sans-serif;
  color: rgb(220,220,220);
  text-align: center;
  font-size: 40px;
  padding: 2% 0 1% 0;
  margin: 0 20% 2% 20%;
  border-bottom: 2px white solid;
}
.Robocon h2{
  padding-left: 6%;
  font-family: 'Roboto', sans-serif;
  color: rgb(220,220,220);
  font-size: 33px;
  padding-bottom: 1%;
  padding-top: 1%;
}
.robolist{
  padding-left: 20%;
}
.robolist li{
  font-size: 20px;
  background-image: url("./list.png");
  background-repeat: no-repeat;
  background-position: left center;
  font-family: font-family: 'Catamaran', sans-serif;
  line-height: 33px;
  letter-spacing: 1.3px;
  padding-left: 35px; 
}
.teampart h3{
  font-family: 'Roboto', sans-serif;
  color: rgb(220,220,220);
  text-align: center;
  font-size: 28px;
  padding: 2% 0 1% 0;
  border-bottom: 2px white solid;
  margin:10%; 
}
.prodet div h2{
  padding-left: 0;
}
.teamhead{
  margin-left: 10%;
  padding-bottom: 0;
  font-family: 'Roboto', sans-serif;
  color: rgb(220,220,220);
  font-size: 33px;
}