/* new font added*/
@font-face {
  font-family: 'myraid';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
       url('../fonts/MyriadPro-Regular.woff') format('woff'),
       url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
       url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
       url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswald';
  src: url('../fonts/Oswald-Regular.eot');
  src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
       url('../fonts/Oswald-Regular.woff') format('woff'),
       url('../fonts/Oswald-Regular.ttf') format('truetype'),
       url('../fonts/Oswald-Regular.svg#Oswald-Regular') format('svg'),
       url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/* remove default margin and padding*/
*{
	margin: 0;
	padding: 0;
}

body{
	overflow-x: hidden;
}
main{
	transition: margin-left 0.5s,background 0.5s;
	width: 1200px;
	margin:auto;
}

/*header section*/
#head-img{
	position: relative;
	z-index: -1;
	background:url("../img/header_img2.jpg");	
	background-size: 100%;
	background-repeat: no-repeat;
	width: 1200px;
	max-width: 1366px;
	height: 630px;
	transition: all 0.5s;
}

/*invoke navbar button*/
button{
	position: fixed;
	background: transparent;
	padding: 5px;
	color: #05487F;
	margin: 10px 0px 0px 10px;
	border: none;
	transition: 0.3s;
}
button:hover{
	color: #fff;
	background:#05487F;
	border-radius: 4px;
}

/*close navbar button*/
#close-btn{
	position:relative;
	left: 70%;
	bottom: 129px;
	color: #fff;
	transition: all 0.3s;
}
#close-btn:hover{
	color: #05487F;
	background: white;
}

/*side slide navbar*/
#navbar{
	position: fixed;
	z-index: 1;
	background: #05487F;
	width: 0;
	height: 1000px;
	padding-top: 10%;
	overflow-x: hidden;
	transition: all .5s;
	white-space: nowrap;
}
ul{
	list-style: none;
}
ul li{
	padding: 10px 10px 10px 20px;
	transition: all .3s;
}
#navbar a{
	text-decoration: none;
	color: #fff;
	font-size: 24px;
	font-family: 'myraid';
}
#navbar li:hover{
	border-right: 3px #fff solid;
	opacity: 0.6;
	text-shadow: 1px 1px 3px #fff;
}

/*Only h1*/
.heading{
	height: auto;
	width: 1200px;
	max-width: 1366px;
}
h1{
	position:relative;
	z-index: -1;
	font-size: 72px;
	text-align: center;
	font-family: 'oswald';
	letter-spacing: 1px;
	color: #05487F;
}
/*all subheading like about , sponsors etc*/
h2{
	text-align: center;
	font-size: 50px;
	font-family: 'oswald';
}
/*first section - about*/
.about{
	position: relative;
	z-index: -1;
	background: #05487f;
	white-space:normal;
	width: 1200px;
	opacity: 0.9;
}
.about h2{
	color: #fff;
}
.about>p{
	padding: 20px;
	font-size: 24px;
	color: #fff;
	font-family: 'myraid';

}
/*testimonial part of about*/
.testimonials{
	text-align: center;
}
.testimonials div{
	display: inline-block;
	width: 15%;
	height: 250px;
	background: green; 
}
.testimonials img{
	width: 70%;
	height: 150px;
	border-radius: 10px;
}
/*pop up on hover over testimonials*/
.popup{
	display: none;
}

/*robocon 17 starts*/
.robocon17{
	width: 1200px;
}
.robocon17 div{
	width: 50%;
	height: 400px;
	float: left;
}
.robocon17{
	color: #05487F;
	text-align: center;
}
h3{
	margin-top: 30px;
	font-family: 'oswald';
	font-size: 24px;
	text-decoration: underline;
	letter-spacing: 1px;
}
.robo_des p{
	margin-top:70px;
	margin-bottom: 50px;
	padding: 20px;
	font-size: 20px;
	font-family: 'myraid';
}
.robo_des span{
	background: #05487F;
	padding: 20px;
}
.robo_des a{
	text-decoration: none;<!-- this is robocon 17-->	

	color: #fff;
	font-family: 'myraid';
	font-size: 24px;
}
.video{
	background: #05487F;
}
iframe{
	width: 90%;
	height: 400px;
}
/*this is library and gallary*/

.lib_gal{
	width: 1200px;
	text-align: center;
}
.lib_gal div{
	width: 50%;
	height: 400px;
	float: left;
}
.lib{
	background: #05487f;
	color: #fff;
}
.gall{
	color: #05487f;

}
.lib ul{
	margin-top: 40px;
}
.lib ul li{
	padding: 10px;
}
.lib_gal a{
	text-decoration: none;
	color: #fff;
	font-size:24px;
	font-family: 'myraid';
}
.lib ul img{
	width: 200px;
	height: 150px;
}
.sponsors{
	width: 1200px;
}
.sponsors h2{
	color: #05487f;
}
.sponsors div{
	width: 23%;
	height: 180px;
	float: left;
	padding-left: 10px;
}
.sponsors section{
	height: 220px;
}
.sponsors img{
	width: 100%;
	height: 200px;

}
.contact{
	width: 1200px;
	text-align: center;	
	
}
.contact h2{
	color: #05487f;
}
.contact h3{
	font-size: 72px;
	text-decoration: none;
}
.contact h5{
	font-size: 30px;
	color: #05487f;
}
.part1 div{
	width: 50%;
	height:250px;
	float: left;
	background: green;
}











/*automatic image slider*/

#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}
#sliderFrame 
{
    width:700px;
    margin:0 auto; /*center-aligned*/
}

#slider, #slider .sliderInner {
    width:700px;height:306px;/* Must be the same size as the slider images */
    border-radius:3px;
}

#slider {
    background-color:white;
    position:relative;
    margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #999999;
}

/* the link style (if an image is wrapped by a link) */
#slider a.imgLink, #slider .video {
    z-index:2;
    cursor:pointer;
    position:absolute;
    top:0px;left:0px;border:0;padding:0;margin:0;
    width:100%;height:100%;
}
#slider .video {
    background:transparent url(video.png) no-repeat 50% 50%;
}

/* Caption styles */
#slider .mc-caption {
    position:absolute;
    width:100%;
    height:auto;
    padding:10px 0;/* 10px will increase the height.*/
    left:0px;
    bottom:0px;top:auto;
    overflow:hidden;
    font: bold 14px/20px Arial;
    color:#EEE;
    text-align:center;
    background:rgba(0,0,0,0.3);
}
#slider .mc-caption a {
    color:#FB0;
}
#slider .mc-caption a:hover {
    color:#DA0;
}


/* ------ built-in navigation bullets wrapper ------*/
#slider .navBulletsWrapper  {
    top:320px;
    text-align:center;
    background:none;
    position:relative;
    z-index:3;
}

/* each bullet */
#slider .navBulletsWrapper div 
{
    width:11px; height:11px;
    font-size:0;color:White;/*hide the index number in the bullet element*/
    background:transparent url(bullet.png) no-repeat 0 0;
    display:inline-block; *display:inline; zoom:1;
    overflow:hidden;cursor:pointer;
    margin:0 6px;/* set distance between each bullet*/
}

#slider .navBulletsWrapper .active {background-position:0 -11px;}


/* --------- Others ------- */

#slider img, #slider>b, #slider a>b {
    position:absolute; border:none; display:none;
}

#slider .sliderInner {
    overflow:hidden;
    position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}
#slider div {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}






/*contact form at last*/

@import url(http://fonts.googleapis.com/css?family=Merriweather);
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #05487f !important;
  -webkit-box-shadow: 0 0px 2px #05487f !important;
  box-shadow: 0 0px 2px #05487f !important;
}
form #input-submit {
  color: white;
  background: #05487f;
  cursor: pointer;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}
