/* new font added*/
@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa');

@font-face {
  font-family: 'myraid';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
       url('../fonts/MyriadPro-Regular.woff') format('woff'),
       url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
       url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
       url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'oswald';
  src: url('../fonts/Oswald-Regular.eot');
  src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
       url('../fonts/Oswald-Regular.woff') format('woff'),
       url('../fonts/Oswald-Regular.ttf') format('truetype'),
       url('../fonts/Oswald-Regular.svg#Oswald-Regular') format('svg'),
       url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/* remove default margin and padding*/
*{
	margin: 0;
	padding: 0;
}

body{
	overflow-x:hidden;
}
main{
	width: 100%;
	height: auto;
	transition: margin-left 0.5s,background 0.5s;
}

/*header section*/
header{
	background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("../img/header_img.jpg") no-repeat;
	background-size: 100% 45.92vw;
	background-attachment: fixed;
	height: 45.98vw;
	position: relative;
	width: 100%;
	transition: background-image 0.3s ease;
	//transform: skewY(-5deg);
}

#head{
	//border: 2px solid #000;
	width: 100%;
	position:relative;	
	transition: all 0.5s;
	//transform: skewY(5deg);

}
#head p{
	position: relative;
	z-index: 1;
	top:-19.15vw;
	color: #fff;
	font-size: 25px;
	text-align: center;
	font-family: 'myraid';

}
#head i{
	font-size: 20px;
	padding: 0.77vw;
}
/*Only h1*/
h1{
	line-height: 45.98vw;
	vertical-align: middle;
	font-size: 5.2vw;
	text-align: center;
	font-family:'myraid';
	letter-spacing: 0.383vw;
	color: #fff;
}
.up{
	position: fixed;
	z-index: 9999;
	opacity: 0.3;
	color: #fff;
	background: #2b2b2b;
	padding: 0.383vw;
	right: 0.77vw;
	bottom: 0.77vw;
	transition: opacity 0.3s;
	border-radius: 0.766vw;
}
.up:hover{
	opacity: 0.7;
}

/*invoke navbar button*/
.navspan{
	position: relative;
	z-index: 25;
	width: 100%;
	height: 4.6vw;
	position: fixed;
	z-index: 99;
	background: transparent;
	transition: background 0.5s ease;
}
.menu{
	font-size: 26px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 600;
	font-family: 'myraid';
	padding: 0.383vw 0px 0px 0.77vw;
}
button,#open-btn{
	padding: 0.77vw;
	color: #fff;
	border: none;
	transition: 0.3s;
}
#open-btn{
	background: transparent;
	//box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
}
#open-btn i{
	padding:0.77vw;
	padding-top: 1.15vw;
}

/*close navbar button*/
#close-btn{
	position:relative;
	left: 11vw;
	background: transparent;
	bottom: 9.4vw;
	color: #2b2b2b;
	transition: all 0.3s;
}
/*side slide navbar*/
#navbar{
	position: fixed;
	z-index: 99;
	background: #fff;
	width: 0;	
	height: 99999999px;
	padding-top: 10%;
	overflow-x: hidden;
	transition: all .5s;
	white-space: nowrap;
}
ul{
	list-style: none;
}
ul li{
	padding: 0.8vw 0.8vw 0.8vw 1.5vw;
	transition: all .3s;
}
#navbar a{
	text-decoration: none;
	color: #2b2b2b;
	font-size: 1.75vw;
	font-family: 'myraid';
}
#navbar li:hover{
	border-right: 3px #fff solid;
	opacity: 0.6;
	text-shadow: 1px 1px 3px #fff;
}



/*all subheading like about , sponsors etc*/
h2{
	text-align: center;
	font-size: 4vw;
	font-family: 'oswald';
}
/*first section - about*/
.about{
	position: relative;
	background: #fff;
	white-space:normal;
	width: 100%;
	opacity: 0.9;
	//transform: skewY(-5deg);
}
.about * {
	//transform: skewY(5deg);
}
.about h2{
	text-align:left;;
	padding: 3.06vw 6.5vw;
	font-weight: 500;
	font-size: 42px;
	color: #000;
}
.about>p{
	padding: 3.06vw 6.5vw 7.66vw 6.5vw;
	font-size: 20px;
	line-height: 1.6;
	color: #2b2b2b;
	font-family: 'myraid';

}
/*testimonial part of about*/
.testimonials{
	display: none;
	height: 30.95vw;
}
.item{
	width: 100%;
	height: 30.95vw;
	font-size: 1.84vw;
	font-family: 'myraid';
	color: #fff;
	background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("../img/testimonials/abhisheknegi.jpg") no-repeat;
	background-size: 100%;	
	background-attachment: fixed;
	filter: grayscale(40%);
}
.item h4{
	font-size: 3.06vw;
	padding: 2.3vw;
	width: 30%;
	float: left;
}
.item>p{
	position: relative;
	top: -19.92vw;
	padding: 2.29vw;
	width: 30%;
}
#testi2,#testi3{
	display: none;
}

/*pop up on hover over testimonials*/
.popin{
	margin-top: 2.29vw;
	padding: 2.29vw;
	float: left;
	width: 70%;
	font-family: 'Aref Ruqaa', serif;
	font-size: 1.53vw;

}
.popin i{
	padding: 0.77vw 0.77vw 0px 0.77vw;
}
/*robocon 17 starts*/
.robocon17{
	display: none;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 45.98vw;
	color: #000;
	text-align: center;
}
.robocon17 h2{
	padding:4.6vw;
	letter-spacing: 3px;	
}
h3{
	margin-top: 2.2vw;
	font-family: 'myraid';
	font-size: 1.9vw;
	letter-spacing: 1px;
}
.robo_des p{
	color: #2b2b2b;
	margin-top:5.2vw;
	margin-bottom: 3.7vw;
	padding: 6.13vw 7.66vw 7.66vw 7.66vw;
	width: 80%;
	margin:auto;
	line-height: 1.6;
	font-size: 1.53vw;
	text-align: left;
	font-family: 'myraid';
}
.robo_des span{
	background: #2b2b2b;
	padding: 1.5vw;
}
.robo_des a{
	text-decoration: none;
	color: #fff;
	font-family: 'myraid';
	font-size: 1.9vw;
}
.video{
	transform: scale(0);
	background:rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	padding: 12%;
	border: 2px solid #000;
	position: fixed;
	z-index: 9999;
	top: 0;	
	left: 0;
	transition: transform 0.5s ease;
}
.video>iframe{
	padding: 20px;
	border: 2px solid #eee;
}
.close_video{
	position: fixed;
	top: 18%;
	right: 27%;
	color: #fff;
}
iframe{
	position: relative;
	z-index: 50;
	width: 60%;
	height: 400px;
}
/*this is library and gallary*/

.lib_gal{
	display: none;
	background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../img/gallery.jpg") no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	position: relative;
	z-index: -1;
	//border: 2px solid #000;
	height: 38.31vw;
	width: 100%;
	text-align: center;
	overflow-y: hidden;
}
.lib_gal div{
	padding: 30px;
	height: 38.31vw;
	float: left;
}
.lib{
	width: 40%;
	color: #fff;
	height: 38.31vw;
}
.gall{
	width: 60%;
	color: #2b2b2b;
	height: 38.31vw;
}
.gall h3{
	font-size: 3.06vw;
	color: #fff;
}
/*
.gall h3:hover:after{
	content: " >";
}
.gall h3:hover:before{
	content: "> ";
}

#slider, #slider .sliderInner {
    width:48vw;height:23vw;
}

#slider {
	margin-left: 0.8vw;
    background-color:white;
    position:relative;
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #999999;
    overflow: hidden;
}
*/
.lib ul{
	margin-top: 3vw;
}
.lib ul li{
	padding: 1.91vw;
}
.lib_gal a{
	text-decoration: none;
	color: #fff;
	font-size:1.8vw;
	font-family: 'myraid';
}
.lib ul img{
	padding: 1.15vw 1.15vw 0 1.15vw;
	width: 14.7vw;
	height: 11vw;
}
.sponsors{
	display: none;
	position: relative;
	z-index: -1;
	height: 53.63vw;
	width: 100%;
	//border: 2px solid #000;
}
.sponsors h2{
	padding: 4.6vw;
	font-family: 'myraid';
	font-weight: 600;
	letter-spacing: 2px;
	color: #2b2b2b;
}
.sponsors div{
	width: 25%;
	padding: 1.53vw 3.065vw 4.6vw 3.065vw;
	height: 11.5vw;
	float: left;
	text-align: center;
}
.sponsors section{
	height: 16.85vw;
}
.sponsors img{
	width: 70%;
	height:11.5vw;

}
/*last part - contact*/
.contact{
	opacity: 0;
	//border: 2px solid #000;
	position: relative;
	width: 100%;
	text-align: center;	
	background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("../img/header_img.jpg") no-repeat;
	background-size:100% 100%; 
	background-position: 0px 0px;
	background-attachment: fixed;
	height: 90.42vw;
	transition: visibility 0.8s ease;
}
.contact h2{
	letter-spacing: 0.23vw;
	font-family: 'myraid';
	padding: 3.831vw 4.6vw 1.53vw 4.6vw;
	color: #fff;
}
.contact h3{
	font-size: 5.3vw;
	text-decoration: none;
}
.contact h5{
	padding: 3.065vw;
	font-family:'myraid';
	font-size: 2.2vw;
	color: #fff;
}
.contact_l{
	margin-left: 3.065vw;
	float: left;
	border: 0.153vw #fff solid;
	width: 40%;
	height: 38.31vw;
}
.contact_r{
	float: right;
	margin-right: 2.3vw;
	position: relative;
	width: 50%;
	height: 38.31vw;
	color: #fff;
	text-align: center;
	background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)), url(../img/mapiitr.png);
	background-position: 0px 0px;
	padding: 3.065vw;
}
.contact_r p{
	font-size: 1.84vw;
	font-family: 'myraid';
}
.ph_em{
	padding: 2.3vw;
	text-align: left;
	position: absolute;
	left: 0;
	bottom: 0;
}
footer{
	clear: both;
	width: 100%;
	height: 18vw;
	background:rgba(0,0,0,0.7);
	margin-top: 53.64vw;
}
.foot{
	position: relative;
	color: #fff;
	font-family: 'myraid';
	font-size: 24px;
	width: 100%;
	height: 15.32vw;
	margin: auto;
}
.foot img{
	margin-top: 5.36vw;
}
.foot p{
 	padding: 1.53vw;
 	letter-spacing: 0.153vw;
}
/*
.contact_wrap{
	margin-top: 3vw;
	width: 100%;
	height: 24vw;
}
.contact_img{
	height: 24vw;
	width: 100%;
	margin-left: 3.5vw;
}
.contact_wrap>div{
	width: 25%;
	height: 24vw;
	float: left;
}

.contact_wrap img {
	width: 17.5vw;
	height: 24vw;
}	
*/



/*
.view-first img {
   transition: all 0.2s linear;
}
.view-first .mask {
   filter: alpha(opacity=0);
   opacity: 0;
   background-color:#fff;
   transition: all 0.4s ease-in-out;
}
.view-first h2 {
   transform: translateY(-7.8vw);
   filter: alpha(opacity=0);
   opacity: 0;
   transition: all 0.2s ease-in-out;
}
.view-first p {
   transform: translateY(7.8vw);
   filter: alpha(opacity=0);
   opacity: 0;
   transition: all 0.2s linear;
}
.view-first:hover img {
   transform: scale(1.2,1.2);
}
.view-first a.info {
   filter: alpha(opacity=0);
   opacity: 0;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
   filter: alpha(opacity=100);
   opacity: 0.7;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
   filter: alpha(opacity=100);
   opacity: 1;
   transform: translateY(0px);
}
.view-first:hover p {
   transition-delay: 0.1s;
}
.view-first:hover a.info {
   transition-delay: 0.2s;
}
*/


/*common *//*
.view {
   width: 17.5vw;
   height: 24vw;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
}
.view .mask{
   width: 17.5vw;
   height: 24vw;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

.view h2 {
	color: #fff;
   text-transform: uppercase;
   font-size: 3.4vw;
   text-align: center;
   position: relative;
   background: rgba(0, 0, 0, 0.8);
   margin: 10% 0 0 0;
}
.view p {
   font-size: 1.2vw;
   font-family: 'myraid';
   position: relative;
   text-align: center;
   padding: 0.73vw 0.36px 0.73vw 0.36vw;
}

.info img{
	width: 2.2vw;
	height:2.2vw;
}


*/










/*contact form at last*/

@import url(http://fonts.googleapis.com/css?family=Merriweather);
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form {
  padding: 4.6vw 2.3vw 2.3vw 2.3vw;
  max-width: 45.8vw;
  text-align: center;
  margin: 1.53vw auto;
}
form input, form textarea {
  background: transparent;
  border: 2px solid #fff;
  outline: 0;
  padding: 1em;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #05487f !important;
  -webkit-box-shadow: 0 0px 2px #05487f !important;
  box-shadow: 0 0px 0.766vw green !important;
}
form #input-submit {
  color: #fff;
  background: transparent;
  cursor: pointer;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 9.655vw;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}
@media only screen and (min-width: 768px){

}





/* @media only screen and (min-width: 1366px){

.about>p, .robo_des p{
	font-size: 26px;
}

}*/






/*preloader*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

.preloader{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 9999;
	width: 100%;
	height:9999px;
	overflow: hidden;
	padding-top: 10em;
    text-align: center;
}
.preloader > * {
  box-sizing: border-box;
  overflow: hidden;
}

.loader {
  position: relative;
  margin: auto;
  width: 350px;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 250%;
  background: linear-gradient(180deg, #222 0, #444 100%);
  box-shadow: inset 0 5px 20px black;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.loader:after {
  content: "";
  display: table;
  clear: both;
}

.preloader span {
  float: left;
  height: 100px;
  line-height: 120px;
  width: 50px;
}

.loader > span {
  border-left: 1px solid #444;
  border-right: 1px solid #222;
}

.covers {
  position: absolute;
  height: 100%;
  width: 100%;
}

.covers span {
  background: linear-gradient(180deg, white 0, #ddd 100%);
  animation: up 2s infinite;
}

@keyframes up {
  0%   { margin-bottom: 0; }
  16%  { margin-bottom: 100%; height: 20px; }
  50% { margin-bottom: 0; }
  100% { margin-bottom: 0; }
}

.covers span:nth-child(2) { animation-delay: .142857s; }
.covers span:nth-child(3) { animation-delay: .285714s; }
.covers span:nth-child(4) { animation-delay: .428571s; }
.covers span:nth-child(5) { animation-delay: .571428s; }
.covers span:nth-child(6) { animation-delay: .714285s; }
.covers span:nth-child(7) { animation-delay: .857142s; }